/* Container for all GIFs */
.gif-overlay-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100; /* above other content, behind dino*/
    pointer-events: none;
  }
  
  /* Style individual GIFs */
  .overlay-gif {
    position: absolute;
    width: 100vw;
    height: auto;
    opacity: 1;
    animation: float 5s infinite ease-in-out;
    pointer-events: none; 
    z-index: 100; /* above other content, behind dino*/
  }


  